
.icon-icons8-linkedin:before { content: '\e800'; } /* '' */
.icon-icons8-github:before { content: '\e801'; } /* '' */
.icon-icons8-instagram:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-mail-1:before { content: '\e81b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-2:before { content: '\f31a'; } /* '' */
